<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CustomerAccountSuite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="CustomerAccountTests">
        <classes>
            <class name="tests.CustomerAccountTest"/>
        </classes>
    </test>
</suite>
